<!--  Guitar Department Header -->
<section id="masthead-controller-context">
  <div *ngIf="isReady()">

    <div id="masthead" class="guitar-dept-masthead">
      <img src="../assets/images/header/guitarStudies.light-logo.jpg"
           alt="{{title}}">

      <div id="sub-masthead" class="guitar-dept-submasthead">
        <div class="guitar-dept-masthead-org-banner">{{title}}</div>
        <guitar-carousel [carouselSlideDeck]='carouselSlideDeck'></guitar-carousel>
        <guitar-navbar [targets]='targets'></guitar-navbar>
      </div>
    </div>

  </div>

</section>

<!--src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1423180/guitar_program.png"-->

