<!--  guitar news container  -->
<section id="guitar-dept-news-section" >
<div *ngIf="isReady()">
  <div class="guitar-dept-news-media-content-title Grid-bordered-bottom">
    {{textbooks?.title}}
  </div>
  <div id="setup-news-content-blocks" class="guitar-dept-display-flex-row guitar-dept-display-flex-wrap guitar-dept-flex-space-around">
    <div *ngFor="let guitarTextbookModel of (textbooks?.payload  | filterByObject: { image: '!#0' }); index as index "
         class="guitar-dept-display-flex-row">
      <div (click)="textbookTab.setTab(index)" id="setup-news-content-single-block"
           class="guitar-dept-display-flex-column">
        <div *ngIf="textbookTab.showTab(index)">
          <img class="guitar-dept-media-news-image padded-above"
               src="{{guitarTextbookModel.image}}">
          <div class="guitar-dept-news-media-label padded-right">{{guitarTextbookModel.name}}</div>
          <div class="guitar-dept-news-media-label padded-right">{{guitarTextbookModel.author}}</div>
          <div class="guitar-dept-news-media-label padded-right">{{guitarTextbookModel.edition}}</div>
        </div>
      </div>
      <include-template *ngIf="textbookTab.isSet(index)" class="guitar-dept-display-flex-row"
                        [requestedUrl]="guitarTextbookModel.url">
      </include-template>
    </div>
  </div>
</div>

</section>
