<div
  *ngFor="let guitarCourse of findClasses( inputKey ) ">
  <div >
    <div (click)="openBackDropCustomClass(guitarCourse,content)">
      <div  class="guitar-dept-display-flex-wrap Grid-bordered Grid-cell guitar-dept-display-flex-row">
        <div class="guitar-dept-display-flex-wrap  Grid-cell">{{guitarCourse.class}}</div>
        <div class="guitar-dept-display-flex-wrap  Grid-cell">{{guitarCourse.name}}</div>
      </div>
    </div>

  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title">
      <div class="guitar-dept-display-flex-wrap  Grid-cell">
        Course By Section
      </div>
      <div class="guitar-dept-display-flex-wrap  Grid-cell">
        {{year}}&nbsp;:&nbsp;{{semester}}
      </div>
      <div class="guitar-dept-display-flex-wrap  Grid-cell guitar-dept-column-header">
        <div class="guitar-dept-display-flex-wrap  Grid-cell">{{discipline}}
        </div>
        <div class="guitar-dept-display-flex-wrap  Grid-cell">{{guitarCourse.class}}
        </div>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <course-schedule-entry [guitarCourse]="guitarCourse" [guitarCourseKey]="{ semester:  semester , year: year , discipline: discipline }"></course-schedule-entry>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

