<div *ngIf="isReady()">

    <div *ngFor="let courseBySectionCandidate of courseBySections">
        <div *ngFor="let courseBySection of courseBySectionCandidate.payload">
            <div class="guitar-dept-display-flex-wrap Grid-bordered Grid-cell">
                <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySection.crn}}
                </div>
                <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySection.section}}
                </div>
                <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySection.days}}
                </div>
                <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySection.time}}
                </div>
                <div class="guitar-dept-display-flex-wrap  Grid-cell">
                    {{courseBySection.location}}
                </div>
                <div class="guitar-dept-display-flex-wrap  Grid-cell">
                    {{courseBySection.instructor}}
                </div>
            </div>
        </div>
    </div>

</div>