<div *ngFor="let courseBySections of findClassSectionsByKey( {
      schoolSemester: semester,
      schoolYear: year,
      discipline: discipline,
      course: course
    } )">
  <div class="guitar-dept-display-flex-wrap Grid-bordered Grid-cell">
    <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySections.pay.CRN}}
    </div>
    <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySections.pay.Sec}}
    </div>
    <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySections.pay.Days}}
    </div>
    <div class="guitar-dept-display-flex-wrap  Grid-cell">{{courseBySections.pay.Time}}
    </div>
    <div class="guitar-dept-display-flex-wrap  Grid-cell">
      {{courseBySections.pay.Location}}
    </div>
    <div class="guitar-dept-display-flex-wrap  Grid-cell">
      {{courseBySections.pay.Instructor}}
    </div>
  </div>
</div>
