<div *ngIf="isPlayListReady()">

    <div class="guitar-dept-display-flex-column">
        <div class="guitar-dept-display-flex-wrap Grid-bordered Grid-cell guitar-dept-column-header">
            <div class="guitar-dept-display-flex-wrap  Grid-cell">{{requestedPlaylist.playListTitle}}</div>
        </div>
    </div>
    <div class="guitar-dept-display-flex-column">
        <!--<div *ngFor="let playlistVideoMember of playlistGroupBy.get(requestedPlaylist.playListId)"-->
        <div *ngFor="let playlistVideoMember of guitarPlaylist"
             class="guitar-dept-display-flex-wrap guitar-dept-display-flex-column">
            <div class="guitar-dept-display-flex-wrap Grid-bordered Grid-cell guitar-dept-display-flex-column">
                <a target="_blank"
                   href="https://youtu.be/{{playlistVideoMember.videoId}}" class="guitar-dept-display-flex-row">
                    <div class="guitar-dept-display-flex-wrap  Grid-cell">{{playlistVideoMember.videoTitle}}
                    </div>
                    <div class="guitar-dept-display-flex-wrap  Grid-cell">
                        <img src="{{playlistVideoMember.videoThumbnailUrl}}">
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

